In [1]:
import pandas as pd
import numpy as np

In [2]:
# establish file locations
schools = "Schools_Complete.csv"
students = "Students_Complete.csv"

In [3]:
# read in csv
schools_df = pd.read_csv(schools)
students_df = pd.read_csv(students)

#merge files 
merged_df = pd.merge(students_df, schools_df, on="school_name", how="left")

In [4]:
# calculate values needed for district summary table

# total schools
school_count = len(schools_df["school_name"])

# total students 
student_count = len(students_df["student_name"])

# total budget
total_budget = schools_df["budget"].sum()

# average math score 
avg_math = students_df["math_score"].mean()

# average reading score
avg_reading = students_df["reading_score"].mean()

# percentage of students who pass reading / math
pass_reading = len(students_df[students_df["reading_score"]>=70])/student_count*100
pass_math = len(students_df[students_df["math_score"]>=70])/student_count*100

#overall passing rate
overall_pass = (avg_math + avg_reading)/2

In [5]:
# print district summary table

district_summary_table = pd.DataFrame({"Total Schools": [school_count], "Total Students": [student_count], \
                              "Total Budget": [total_budget], "Average Math Score": [avg_math], \
                              "Average Reading Score": [avg_reading], "% Passing Reading": [pass_reading], \
                              "% Passing Math": [pass_math], "% Overall Passing Rate": [overall_pass]})

district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,85.805463,74.980853,80.431606

In [32]:
##============================================
#School Summary

#Group complete dataframe by school name
grouped_school = merged_df.groupby(["school_name"])

#begin by pulling data from school data frame into a new school summary data frame

school_summary = pd.DataFrame({"School Name": schools_df["school_name"], "School Type": schools_df["type"], "Total Students": schools_df["size"], "Total School Budget": schools_df["budget"]})
school_summary = school_summary.set_index("School Name")

school_summary["Budget per Student"] = school_summary["Total School Budget"] / school_summary["Total Students"]

#use groupby object to do calculations

school_summary["Average Math Score"] = grouped_school["math_score"].mean()
school_summary["Average Reading Score"] = grouped_school["reading_score"].mean()

# calculate percentages of students passing using apply and in line lambda func
school_summary["Percent Passing Math"] = (grouped_school.apply(lambda x: (x["math_score"] >= 70).sum())/ 
                                          school_summary["Total Students"]) * 100
school_summary["Percent Passing Reading"] = (grouped_school.apply(lambda x: (x["reading_score"] >= 70).sum()) / 
                                          school_summary["Total Students"]) * 100
school_summary["Overall Passing Rate"] = (school_summary["Percent Passing Math"] + 
                                               school_summary["Percent Passing Reading"])/2

school_summary = school_summary.sort_values("Overall Passing Rate", ascending=False)


school_summary

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323

In [35]:
#top performing schools by passing rate
school_summary = school_summary.sort_values("Overall Passing Rate", ascending=False)

school_summary.head()

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [34]:
# bottom performing schools by passing rate
# sort and display the five worst performing schools
school_summary = school_summary.sort_values("Overall Passing Rate", ascending=True)

school_summary.head()

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [38]:
# use loc to create lists for each grade

ninth = merged_df.loc[merged_df["grade"] == "9th"]
tenth = merged_df.loc[merged_df["grade"] == "10th"]
eleventh = merged_df.loc[merged_df["grade"] == "11th"]
twelfth = merged_df.loc[merged_df["grade"] == "12th"]

#use groupby to identify the avg math scores by grade

math_nine = ninth.groupby("school_name")["math_score"].mean()
math_ten = tenth.groupby("school_name")["math_score"].mean()
math_eleven = eleventh.groupby("school_name")["math_score"].mean()
math_twelve = twelfth.groupby("school_name")["math_score"].mean()

#create data frame for average math grades by grade level

math_grades = pd.DataFrame({"9th":math_nine, "10th": math_ten, "11th": math_eleven, "12th": math_twelve})

math_grades

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [41]:
# reading scores by grade

#use groupby to find the average reading scores by grade

read_nine = ninth.groupby("school_name")["reading_score"].mean()
read_ten = tenth.groupby("school_name")["reading_score"].mean()
read_eleven = eleventh.groupby("school_name")["reading_score"].mean()
read_twelve = twelfth.groupby("school_name")["reading_score"].mean()

#make data frame

reading_grades = pd.DataFrame({"9th": read_nine, "10th": read_ten, "11th": read_eleven, "12th": read_twelve})

reading_grades

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [42]:
#scores by school spending 
#find min and max
print(school_summary["Budget per Student"].max())
print(school_summary["Budget per Student"].min())

655.0
578.0

In [50]:
#create bins and bin names
bins = [577, 597.25, 616.5, 635.75, 656]
bin_names = ["low", "medium", "high", "highest"]

In [51]:
#slice data and place into bins
pd.cut(school_summary["Budget per Student"], bins, labels=bin_names).head()

School Name
Cabrera High School        low
Thomas High School     highest
Pena High School        medium
Griffin High School       high
Wilson High School         low
Name: Budget per Student, dtype: category
Categories (4, object): [low < medium < high < highest]

In [60]:
#place data series into a new columb inside of the dataframe
school_summary["Spending Group"] = pd.cut(school_summary["Budget per Student"], bins, labels=bin_names)

summary_by_spending = pd.DataFrame({"Average Math Score": school_summary["Average Math Score"], "Average Reading Score": school_summary["Average Reading Score"], "% Passing Math": school_summary["Percent Passing Math"], "Percent Passing Reading": school_summary["Percent Passing Reading"], "Overall Percent Passing": school_summary["Overall Passing Rate"], "Spending Group": school_summary["Spending Group"]})

summary_by_spending

,Average Math Score,Average Reading Score,% Passing Math,Percent Passing Reading,Overall Percent Passing,Spending Group
School Name,,,,,,
Cabrera High School,83.061895,83.975780,94.133477,97.039828,95.586652,low
Thomas High School,83.418349,83.848930,93.272171,97.308869,95.290520,highest
Pena High School,83.839917,84.044699,94.594595,95.945946,95.270270,medium
Griffin High School,83.351499,83.816757,93.392371,97.138965,95.265668,high
Wilson High School,83.274201,83.989488,93.867718,96.539641,95.203679,low
Wright High School,83.682222,83.955000,93.333333,96.611111,94.972222,low
Shelton High School,83.359455,83.725724,93.867121,95.854628,94.860875,medium
Holden High School,83.803279,83.814988,92.505855,96.252927,94.379391,low
Bailey High School,77.048432,81.033963,66.680064,81.933280,74.306672,high
Hernandez High School,77.289752,80.934412,66.752967,80.862999,73.807983,highest
Ford High School,77.102592,80.746258,68.309602,79.299014,73.804308,highest
Johnson High School,77.072464,80.966394,66.057551,81.222432,73.639992,highest
Huang High School,76.629414,81.182722,65.683922,81.316421,73.500171,highest
Figueroa High School,76.711767,81.158020,65.988471,80.739234,73.363852,highest
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,73.293323,highest

In [61]:
#scores by school size
#find min and max
print(school_summary["Total Students"].max())
print(school_summary["Total Students"].min())

4976
427

In [66]:
# make these biiiiiiiiiiiiiins and name them

size_bins = [426, 1564, 2701, 3838, 4977]
size_bin_names = ["small", "medium", "large", "largest"]

In [67]:
# slice and place into bins

pd.cut(school_summary["Total Students"], size_bins, labels=size_bin_names).head()

School Name
Cabrera High School    medium
Thomas High School     medium
Pena High School        small
Griffin High School     small
Wilson High School     medium
Name: Total Students, dtype: category
Categories (4, object): [small < medium < large < largest]

In [69]:
#place data series into a new column inside of the dataframe
school_summary["Size Category"] = pd.cut(school_summary["Total Students"], size_bins, labels=size_bin_names)

summary_by_size = pd.DataFrame({"Average Math Score": school_summary["Average Math Score"], "Average Reading Score": school_summary["Average Reading Score"], "% Passing Math": school_summary["Percent Passing Math"], "Percent Passing Reading": school_summary["Percent Passing Reading"], "Overall Percent Passing": school_summary["Overall Passing Rate"], "Size Category": school_summary["Size Category"]})

summary_by_size

,Average Math Score,Average Reading Score,% Passing Math,Percent Passing Reading,Overall Percent Passing,Size Category
School Name,,,,,,
Cabrera High School,83.061895,83.975780,94.133477,97.039828,95.586652,medium
Thomas High School,83.418349,83.848930,93.272171,97.308869,95.290520,medium
Pena High School,83.839917,84.044699,94.594595,95.945946,95.270270,small
Griffin High School,83.351499,83.816757,93.392371,97.138965,95.265668,small
Wilson High School,83.274201,83.989488,93.867718,96.539641,95.203679,medium
Wright High School,83.682222,83.955000,93.333333,96.611111,94.972222,medium
Shelton High School,83.359455,83.725724,93.867121,95.854628,94.860875,medium
Holden High School,83.803279,83.814988,92.505855,96.252927,94.379391,small
Bailey High School,77.048432,81.033963,66.680064,81.933280,74.306672,largest
Hernandez High School,77.289752,80.934412,66.752967,80.862999,73.807983,largest
Ford High School,77.102592,80.746258,68.309602,79.299014,73.804308,large
Johnson High School,77.072464,80.966394,66.057551,81.222432,73.639992,largest
Huang High School,76.629414,81.182722,65.683922,81.316421,73.500171,large
Figueroa High School,76.711767,81.158020,65.988471,80.739234,73.363852,large
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,73.293323,largest

In [73]:
# scores by school type

school_type = school_summary.locgroupby("School Type")

school_type

SyntaxError: invalid syntax (<ipython-input-73-a7495c3b9105>, line 3)